; top-most EditorConfig file
root = true

; Unix-style newlines
[*]
end_of_line = LF

[*.twig]
indent_style = space
indent_size = 2

[*.scss]
indent_style = space
indent_size = 2

[*.{php}]
indent_style = space
indent_size = 4

[*.{yaml,yml}]
indent_style = space
indent_size = 4

